@model Memorial.ViewModels.PlotAreaIndexesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Area</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var plotArea in Model.PlotAreaDtos)
        {
            <tr>
                <td>@Html.ActionLink(plotArea.Name, "Plot", new { areaId = plotArea.Id, applicantId = Model.ApplicantId })</td>
                <td>@plotArea.Description</td>
            </tr>
        }
    </tbody>
</table>


