@model Memorial.ViewModels.ListCatalogViewModel
@{
    ViewBag.Title = "Catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink(Model.SiteDto.Name, "Catalog", "Menu", new { siteId = Model.SiteId, applicantId = Model.ApplicantId, area = "Menu" }, null)

@if (Model.ApplicantId != null)
{
    Html.RenderAction("Index", "ApplicantDeceaseds", new { area = "ApplicantDeceaseds", id = Model.ApplicantId });
}

@Html.ActionLink("Recent", "Recent", new { siteId = Model.SiteId, applicantId = Model.ApplicantId }, null)

<h4>Items</h4>

@foreach (var catalog in Model.CatalogDtos)
{
    @Html.ActionLink(catalog.ProductDto.Name, "Index", catalog.ProductDto.Controller, new { siteId = catalog.SiteDtoId, applicantId = Model.ApplicantId, area = catalog.ProductDto.Area }, null)
    <br />
}