@model Memorial.ViewModels.ListCatalogViewModel
@{
    ViewBag.Title = "Catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.ApplicantId != 0)
{
    Html.RenderAction("Index", "ApplicantDeceaseds", new { area = "ApplicantDeceaseds", id = Model.ApplicantId });
}

<h4>Items</h4>

@foreach (var catalog in Model.CatalogDtos)
{
    @Html.ActionLink(catalog.ProductDto.Name, "Menu", catalog.ProductDto.Controller, new { siteId = catalog.SiteDtoId, applicantId = Model.ApplicantId, area = catalog.ProductDto.Area }, null)
    <br />
}