@model Memorial.ViewModels.UrnItemsViewModel
@{
    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var urnItem in Model.UrnItemDtos)
        {
            <tr>
                <td>@Html.ActionLink(urnItem.Name, "Index", "Urn" + urnItem.SystemCode, new { itemId = urnItem.Id, applicantId = Model.ApplicantId }, null)</td>
                <td>@urnItem.Description</td>
                <td>@urnItem.Price</td>
            </tr>
        }
    </tbody>
</table>