@model Memorial.ViewModels.UrnItemsViewModel
@{
    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderAction("ApplicantBrief", "Applicants", new { id = Model.ApplicantId });}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var urnItem in Model.UrnItemDtos)
        {
            <tr>
                <td>@Html.ActionLink(urnItem.Name, "Transactions", new { urnItemId = urnItem.Id, applicantId = Model.ApplicantId })</td>
                <td>@urnItem.Description</td>
                <td>@urnItem.Price</td>
            </tr>
        }
    </tbody>
</table>