@model Memorial.ViewModels.QuadrangleTransactionsInfoViewModel
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderAction("Info", "ApplicantDeceaseds", new { applicantId = Model.ApplicantId, deceasedId = Model.DeceasedId, area = "ApplicantDeceaseds" });}

<div class="row">
    <div class="col-md-3">
        AF
    </div>
    <div class="col-md-3">
        @Model.QuadrangleTransactionDto.AF
    </div>
</div>
