@model Memorial.ViewModels.AncestorItemsViewModel
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Item</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ancestorItem in Model.AncestorItemDtos)
        {
            <tr>
                <td>@Html.ActionLink(ancestorItem.Name, "Index", "Ancestor" + ancestorItem.SystemCode, new { itemId = ancestorItem.Id, id = Model.AncestorDto.Id, applicantId = Model.ApplicantDto.Id }, null)</td>
                <td>@ancestorItem.Description</td>
                <td>@ancestorItem.Price</td>
            </tr>
        }
    </tbody>
</table>