@model Memorial.ViewModels.AncestralTabletIndexesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink(Model.SiteDto.Name, "Catalog", "Menu", new { siteId = Model.SiteDto.Id, applicantId = Model.ApplicantId, area = "Menu" }, null) >
@Html.ActionLink(Resources.Mix.AncestralTablet, "Index", "AncestralTablets", new { siteId = Model.SiteDto.Id, applicantId = Model.ApplicantId, area = "AncestralTablet" }, null)

<h2>@Html.Raw(Resources.Mix.AncestralTablet)</h2>

<table class="table table-bordered table-hover">
    @foreach (var position in Model.Positions)
    {
        <tr>
            @foreach (var c in Model.Positions[position.Key])
            {
                foreach (var ancestralTablet in Model.AncestralTabletDtos.Where(q => q.PositionY == position.Key && q.PositionX == c))
                {
                    <td>
                        @Html.ActionLink(ancestralTablet.Name, "Items", new { id = ancestralTablet.Id, applicantId = Model.ApplicantId })
                    </td>
                }
            }
        </tr>
    }
</table>
