@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Print.cshtml";
}

Syarat dan Peraturan Pengebumian Tanah Perkuburan Desa Kepong dan Sungai Buloh (JI LE)
<ol style="list-style:decimal">
    <li>
        Sebelum pengebumian dipersetujui, pihak keluarga si mati haruslah mengemukakan PermitPengebumian yang dikeluarkan oleh pihak Kerajaan untuk mendaftar dan membayar segalabayaran yang ditetapkan.
    </li>
    <li>
        Tapak perkuburan tersebut adalah dihadkan hanya untuk penduduk di sekitar kawasan Jinjang,Kepong dan Batu Village sahaja. Jika didapati maklumat yang diberikan oleh keluarga si mati tidakbenar atau palsu maka Persatuan berhak membatalkan pendaftarannya •atau menahan upacarapengebumian tersebut. Ini adalah kerana tapak perkuburan tersebut telah disusun dan diatur.Pihak keluarga si mati tidak dibenarkan memilih atau membeli tapak perkuburan untuk simpananmasa hadapan.
    </li>
    <li>
        Upacara Pengebumian haruslah dijalankan secara teliti dan berhati-hati supaya tidak menjejaskan"Feng Shui" si mati yang lain. Jika didapati terdapat kerosakkan pada mana-mana tapakperkuburan orang lain, keluarga si mati haruslah benanggungjawab untuk memperbaiki semulatapak perkuburan si mati tersebut.
    </li>
    <li>
        Tapak Perkuburan juga tidak dibenarkan di tukar tangan secara sesuka hati. Sekiranya berlakuperkara tersebut maka keluarga si mati perlu mengembalikan semula Resit Bayaran Asal kepadapihak persatuan dan tapak pengebumian ini secara automatik akan diserahkan semula kepadapersatuan tanpa sebarang syarat dikenakan.
    </li>
    <li>
        Kepada sesiapa yang ingin memohon untuk menuntut mayat atau rangka tulang si matidikehendaki memulangkan Resit Pendaftaran Asal kepada pihak Persatuan dan membuat bayaranyang ditetapkan pada hari yang sama.
    </li>
    <li>
        Kerja pembinaan kubur mestilah diberikan kepada kontraktor yang diakui oleh Persatuan danmematuhi pelan yang ditetapkan. Ketinggian dinding pada hujung bahagian struktur tidak bolehmelebihi 30 inci dari tanah. Pihak Persatuan berhak meruntuhkan binaan dan mengambil tindakanundang-undang kepada sesiapa yang melanggar peraturan yang ditetapkan.
    </li>
    <li>
        Penanaman pokok, pembinaan pagar besi serta dinding tidak dibenarkan di sekitar KawasanPerkuburan, ini adalah kerana bagi pemeliharaan Feng Shui dapat dikekalkan.
    </li>
    <li>
        Bagi Tapak Perkuburan pasangan pula, jika keluarga si mati ingin mengebumikan pasanganbersebelahan maka keluarga si mati haruslah mengikut peraturan (1) seperti yang tersebut diatas.Bayaran mengikut semasa.
    </li>
    <li>
        Persatuan berhak mengubahsuai peraturan atau syarat pengebumian jika keadaan memerlukan.
    </li>
</ol>
Keluarga si mati dengan sukarela menerima dan mematuhui Peraturan+eraturan tersebut.