@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Print.cshtml";
}

甲洞帝沙及極樂山莊墓園規則
<ol style="list-style:decimal">
    <li>
        喪家代表來購墓地時, 須同有關當局發出之准葬証, 將正本交本義山收存, 並辦妥應辦手續及繳清應交費用後,方准下葬。
    </li>
    <li>
        本山莊墓地是以順序排位方式出售, 不得任由選擇和售買生基。只限居住在甲洞、增江及孟加地區者,如被發現違反義山規則者, 本義山有權力阻止及取消其資格,不准下葬。
    </li>
    <li>
        進行葬禮時, 須顧及他人墳墓, 倘損及他人風水, 喪家須負責修建工作及費用,不得異議。
    </li>
    <li>
        葬地不得自由轉, 凡因迁葬或拾金而空置之葬地(必須交來正本葬地收據), 空置葬地則必頁無條件歸還本機構。
    </li>
    <li>
        凡欲申請拾金者, 必須交來正本葬地收據到辦事处并交來善後清理費(依據當時義山所規定的價格), 通過方准進行。
    </li>
    <li>
        建造風水工程, 必須交由本機構授權之風水承包商, 按照本山莊所規定之图測進行, 並尾端圍牆不得超過30吋高(由實土計算)。本機構保有拆除所有違規風水建築及進行法律追究違規者之權利。
    </li>
    <li>
        墳墓範圍不得栽種樹木或圍築鐵欄, 以免妨害他墓風水, 或有碍觀瞻。
    </li>
    <li>
        凡購買雙穴者, 其生基欲附葬時, 須依照本規則第一條之程序前來申報, 并交來附葬費(依據當時義山所規定的價格), 方准動土下葬。
    </li>
    <li>
        本規則如有未盡善处, 本機構随時有權增刪之。
    </li>
</ol>
本人已清楚了解上述規則, 並愿意完全加以遵守, 特此声明。