@model Memorial.ViewModels.SpaceItemsViewModel
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var spaceItem in Model.SpaceItemDtos)
        {
            <tr>
                <td>@Html.ActionLink(spaceItem.Name, "Index", spaceItem.SystemCode, new { itemId = spaceItem.Id, applicantId = Model.ApplicantId }, null)</td>
                <td>@spaceItem.Description</td>
                <td>@spaceItem.Price</td>
            </tr>
        }
    </tbody>
</table>