@model Memorial.ViewModels.AncestralTabletAreaIndexesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Remark</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ancestralTabletArea in Model.AncestralTabletAreaDtos)
        {
            <tr>
                <td>@Html.ActionLink(ancestralTabletArea.Name, "Ancestors", new { areaId = ancestralTabletArea.Id, applicantId = Model.ApplicantId })</td>
                <td>@ancestralTabletArea.Description</td>
                <td>@ancestralTabletArea.Remark</td>
            </tr>
        }
    </tbody>
</table>
