@model Memorial.ViewModels.PlotItemsViewModel
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var plotItem in Model.PlotItemDtos)
        {
            <tr>
                <td>@Html.ActionLink(plotItem.Name, "Index", plotItem.SystemCode, new { itemId = plotItem.Id, id = Model.PlotDto.Id, applicantId = Model.ApplicantId }, null)</td>
                <td>@plotItem.Description</td>
            </tr>
        }
    </tbody>
</table>