@model Memorial.ViewModels.CemeteryAreaIndexesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Area</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cemeteryArea in Model.CemeteryAreaDtos)
        {
            <tr>
                <td>@Html.ActionLink(cemeteryArea.Name, "Cemeteries", new { areaId = cemeteryArea.Id, applicantId = Model.ApplicantId, area = "Cemetery" })</td>
                <td>@cemeteryArea.Description</td>
            </tr>
        }
    </tbody>
</table>


