@model Memorial.ViewModels.CemeteryItemsViewModel
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Raw(Resources.Mix.NameBR)</th>
            <th>@Html.Raw(Resources.Mix.DescriptionBR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cemeteryItem in Model.CemeteryItemDtos)
        {
            <tr>
                <td>@Html.ActionLink(cemeteryItem.SubProductServiceDto.Name, "Index", cemeteryItem.SubProductServiceDto.SystemCode, new { itemId = cemeteryItem.Id, id = Model.PlotDto.Id, applicantId = Model.ApplicantId, area = "Cemetery" }, null)</td>
                <td>@cemeteryItem.SubProductServiceDto.Description</td>
            </tr>
        }
    </tbody>
</table>