@model Memorial.ViewModels.QuadrangleItemsViewModel
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Item</h2>

@{Html.RenderAction("QuadrangleInfo", "Quadrangles", new { id = Model.QuadrangleDto.Id, area = "Quadrangle" });}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var quadrangleItem in Model.QuadrangleItemDtos)
        {
            <tr>
                <td>@Html.ActionLink(quadrangleItem.Name, "Index", quadrangleItem.SystemCode, new { itemId = quadrangleItem.Id, id = Model.QuadrangleDto.Id, applicantId = Model.ApplicantId, area = "Quadrangle" }, null)</td>
                <td>@quadrangleItem.Description</td>
            </tr>
        }
    </tbody>
</table>