@model Memorial.ViewModels.AncestorIndexesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ancestor</h2>

<table class="table table-bordered table-hover">
    @foreach (var position in Model.Positions)
    {
        <tr>
            @foreach (var c in Model.Positions[position.Key])
            {
                foreach (var ancestor in Model.AncestorDtos.Where(q => q.PositionY == position.Key && q.PositionX == c))
                {
                    <td>
                        @Html.ActionLink(ancestor.Name, "Items", new { id = ancestor.Id, applicantId = Model.ApplicantId })
                    </td>
                }
            }
        </tr>
    }
</table>
