@model Memorial.ViewModels.AncestorItemsViewModel
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Item</h2>

@{Html.RenderAction("AncestorInfo", "Ancestors", new { id = Model.AncestorDto.Id, area = "Ancestor" });}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ancestorItem in Model.AncestorItemDtos)
        {
            <tr>
                <td>@Html.ActionLink(ancestorItem.Name, "Index", ancestorItem.SystemCode, new { area = "Ancestor", itemId = ancestorItem.Id, id = Model.AncestorDto.Id, applicantId = Model.ApplicantId }, null)</td>
                <td>@ancestorItem.Description</td>
                <td>@ancestorItem.Price</td>
            </tr>
        }
    </tbody>
</table>